.profile-container {
  margin-top: 15px;
  width: 12%;
  height: 65%;
}
.input-file {
}

.user-profile-and-name {
  display: flex;
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.profile-name {
  font-family: var(--primary-font-family);
  font-size: var(--menu-item-font-size);
  color: black;
  margin: 2px 15px;
  cursor: pointer;
  text-transform: capitalize;
}
