html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 600px;
  min-height: 650px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  background-color: var(--homepage-bg);
}

.app-container {
  width: 100%;
}

:root {
  --white: #ffffffff;
  --black: #000000;
  --pink1: #eabcbc;
  --light-pink: #fef6f6;
  --grey: #dad6d6;

  --grey1: #dad6d6;
  --grey2: #e6e6e6;

  /* backgrounds */
  --homepage-bg: #ffffff;
  --box-bg: #ebe1e1;
  --box-bg: #ffffff;

  --search-bar__bg: var(--box-bg);

  --box-border__color: #cec9c9;

  --box-border__radius: 10px;
  --box-border__size: 1px;
  --box-padding: 25px;
  --box-margin: 0;
  --search-bar__border__color: black;

  --search-bar__color: #000000;
  --filters-font-color: #aca8a8;

  --filters-letter-spacing: 0.1em;
  --filters-padding: 0px 10px;

  --input-font__color: rgb(68, 70, 70);
  --footer-bg: #fff4f8;
  --book-margin: 0px 30px;
  --menu-item-margin: 20px;
  --menu-item-letter-spacing: 0.1em;

  /* FONTS */
  --primary-font-family: 'Roboto', sans-serif;
  /* --primary-font-family: 'Noto Sans JP', sans-serif;
  --primary-font-family: 'Merriweather', serif; */
  --secondary-font-family: 'Nanum Myeongjo', serif;
  --third-font-family: 'Open Sans', sans-serif;
  --fourth-font-family: 'PT Sans', sans-serif;
  --fifth-font-family: 'Oxygen', sans-serif;
  --seven-font-family: 'Fredoka One', cursive;

  --menu-item-font-size: 1em;

  --filters-font-size: 1em;
  --filters-font-weight: 600;
  --filter-px-height: 40px;

  /* BORDERS */
  --border-light: 1px solid #aca8a8;
}
